{% if vars.certManager.enableMonitoring %}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: "cert-manager"
  namespace: "{{ vars.namespace }}"
spec:
    groups:
    - name: cert-manager
      rules:
        - alert: CertManagerAbsent
          expr: absent(up{job="cert-manager"})
          for: 10m
          annotations:
            summary: Cert Manager has disappeared from Prometheus service discovery.
            runbook_url: https://gitlab.com/uneeq-oss/cert-manager-mixin/-/blob/master/RUNBOOK.md#certmanagerabsent
            description: New certificates will not be able to be minted, and existing ones can't be renewed until cert-manager is back.
          labels:
            severity: critical
{% endif %}