apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    {{ vars.certManager.serviceAccount.annotations | default({}) | to_yaml | indent(4, True) }}
  labels:
    {{ vars.certManager.serviceAccount.labels | default({}) | to_yaml | indent(4, True) }}
  name: "{{ vars.certManager.serviceAccount.name }}"
  namespace: "{{ vars.namespace }}"
automountServiceAccountToken: {{ vars.certManager.serviceAccount.automountServiceAccountToken | default(True) }}